@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";
@theme {
  --font-outfit: "Outfit", sans-serif;

  --color-black: #1e1e1e;
  --color-red: #e60013;
}

/* Custom Swiper Navigation Arrows */
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 14px !important;
  color: white !important;
  font-weight: bold !important;
}
