@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@theme {
    --font-outfit: 'Outfit', sans-serif;

    --color-black: #1e1e1e;
    --color-red: #E60013;
}